.header {
    display: flex;
    align-items: center;
    position: sticky; //фиксируем шапку
    top: 0; 
    background-color: #fff;
    z-index: 3;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 15px 10px 23px;
    
    // margin-left: 77px;
    // margin-right: 38px;
    a{  
        text-decoration: none;
        color: inherit; // удаление синего цвета из ссылки
        .left_header {
            display: flex;
            align-items: center;
            line-height: 0.6;
    
    
            img {
                height: 38px;
                width: 38px;
                margin-right: 15px;
            }
    
            h1{
                font-size: 24px;
                font-weight: 700;
            }
            p {
                color: #7B7B7B;
            }

            @media (max-width: 550px) {
                img {
                    width: 30px;
                    height: auto;
                }
                div {
         
                    h1 {
                        font-size: 21px;
                    }
                    p {
                    font-size: 13px;
                    }
                }
            } 

        }
    }

    
    // button {
    //     width: 150px;
    //     height: 50px;
    //     cursor: pointer;
    //     background-color: #FE5F1E ;    
    //     border-radius: 30px;
    //     padding: 10px;
    //     text-decoration: none;
    //     opacity: 0.8;
    //     transition: background 0.1s ease-in-out;
    //     border: none;
    //    b {
    //     color: #fff;
    //     font-size: 16px;
    //     font-weight: 500;
    //     }
    // }
    // button:hover{
    //     background-color: #e94403;
    //     opacity: 1;
    // }

@media (max-width: 550px) {
    // background-color: gold;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
}

     
@media (max-width: 445px) {
    // background-color: gold;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 18px;
}   
    
}
hr {
    opacity: 0.7;
    border: 1px solid #F3F3F3;
}