.sort {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 60px;

    .leftPart {
        display: flex;
        width: 200px;
        border: 0;

        img {
            margin-right: 7px;
            transform: rotate(180deg); // доработать при клике на опицию в сортировке
        }

        span {
            margin-left: 7px;
            cursor: pointer;
            color: #FE5F1E;
            text-decoration: underline dotted #FE5F1E;

        }
    }

    .sortOptions {
        position: absolute;
        top: 15px;
        right: 20px;
        flex-direction: column;
        border: 1px solid #f2f2f2;
        outline: none;
        background-color: rgba($color: #fff, $alpha: 0.8);
        // background-color: black;
        border-radius: 10px;
        li {
        background-color: #fff;
            position: relative;
            margin: 2px;
            padding: 8px;
            border-radius: 0px;
        }

        li:hover {
            background-color: rgba($color: #FE5F1E, $alpha: 0.05);
            color: #FE5F1E;
            transition: color 0.4s ease-in-out;
        }
    }

    .sortOptionsActive {
        display: flex;
    }
}