.sort {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 60px;

    .leftPart {
        display: flex;
        width: 200px;
        border: 0;

        img {
            margin-right: 7px;
            // transform: rotate(180deg); // доработать при клике на опицию в сортировке
        }
        .rotate {
            transform: rotate(180deg); // доработать при клике на опицию в сортировке
        }
        span {
            margin-left: 7px;
            cursor: pointer;
            color: #FE5F1E;
            text-decoration: underline dotted #FE5F1E;

        }
    }

    .sortOptions {
        position: absolute;
        top: 15px;
        right: 20px;
        flex-direction: column;
        border: 1px solid #f2f2f2;
        outline: none;
        background-color: rgba($color: #fff, $alpha: 1);
        border-radius: 10px;
        li {
        background-color: #fff;
            position: relative;
            margin: 2px;
            padding: 8px;
            border-radius: 0px;
        }

        li:hover {
            background-color: rgba($color: #FE5F1E, $alpha: 0.05);
            color: #FE5F1E;
            transition: color 0.4s ease-in-out;
        }

        li:focus {
            background-color: rgba($color: #FE5F1E, $alpha: 0.05);
            color: #FE5F1E;
        }
    }

    // .sortOptionsActive {
    //     display: flex;
    // }


    @media (max-width: 1150px) {
        padding-left: 0px;
        margin-right: 0;
    }
    @media (max-width: 800px) {
        font-size: 21px;
        .sortOptions{
            li {
                font-size: 20px;
            
            }
            width: 120px;
            top: -30px;
            left: 95px;
            font-size: 70px;
        }             
    }

    @media (max-width: 550px) {
        .leftPart{
            font-size: 16px;        
        }
        .sortOptions{
            li {
                font-size: 16px;
            
            }
            width: 120px;
            top: -30px;
            left: 95px;
            font-size: 70px;
        }             
    }
}